{% extends 'base.html' %}
{% block title %} Nos Produits {% endblock%}
{% load crispy_forms_tags %}
{%  block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col 12">
                <div class="card-header">
                    <h3>Modification de {{product.name}}</h3>
                </div>
                <div class="card-body">
                    <div class="mt-3">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="mt-3">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-database"></i>
                            Enregistrer</button>
                        </div>
                    </form>
                        </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}