<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nordinLaMangaCar.Properties.Settings.LaMangaCarConnectionString" connectionString="Data Source=.;Initial Catalog=LaMangaCar;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="nordinLaMangaCar.Properties.Settings.LaMangaCarConnectionString1" connectionString="Data Source=USER-PC\WASPDBEXPRESS;Initial Catalog=LaMangaCar;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
